<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aufbauwerk.Tools.GroupPolicyInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aufbauwerk.Tools.GroupPolicyInstaller.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>%SystemRoot%\system32\LogFiles\GroupPolicyInstaller\GPI.log</value>
            </setting>
            <setting name="RegPath" serializeAs="String">
                <value>HKLM\Software\Aufbauwerk\Tools\GroupPolicyInstaller</value>
            </setting>
            <setting name="IgnoreReboot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuppressReboot" serializeAs="String">
                <value>False</value>
            </setting>
        </Aufbauwerk.Tools.GroupPolicyInstaller.Properties.Settings>
    </applicationSettings>
</configuration>
